
//Desktop
.navbar {
    font-family: $font-family-text;
    
    .nav {
        &-item {
            margin-right: 1rem;
        }
        &-link {
            color: $color-black !important;
            font-weight: $font-weight-bold;
        }
    
}
}
.bg-primary {
    background-color: $color-white !important;
}
.nav-logo {
    height: 80px;
    width: 100hv;
    background-color: #0066B7;
    .title {
        font-size: $font-size-regular;
        color: $color-white;
        font-family: $font-family-text;
        font-weight: $font-weight-bold;
        letter-spacing: 0.47px;
        line-height: 22px;
    }
    .logo {
        width: 85px;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
    }
}