<app-header></app-header>
<section class="container-fluid" style="padding-top:2rem">
  <div class="row">
    <div class="col-12"> 
       <h2>Conductores</h2>
       <div class="cardForm">
         <form>
           <div class="row">
             <div class="col-2">
              <input class="form-control ml-2" autocomplete="on" type="text" placeholder="Filtrar..." name="searchTerm" [(ngModel)]="driverService.searchTerm" />
             </div>
             <div class="col-9 d-flex justify-content-end">
              <button (click)="openModal(ModalInsert)" class="btn button-primary">+ Añadir Conductor</button>
             </div>  
           </div>
           <table style="margin-top: 2rem;" class="table">
            <thead>
              <tr>
                  <th width="5%" scope="col">ID</th>
                  <th width="10%" scope="col" sortable="run" (sort)="onSort($event)">Run</th>
                  <th width="10%" scope="col" sortable="name" (sort)="onSort($event)">Nombre</th>
                  <th width="10%" scope="col" sortable="lastname" (sort)="onSort($event)">Apellido</th>
                  <th width="10%" scope="col">Opciones</th>
              </tr>
           </thead>
           <tbody>
            <tr *ngFor="let d of driver$ | async; let indexs = index" [ngClass]="{'t-striped': 0 === indexs % 0}">
                <td width="9%">{{ d.id }}</td>
                <td width="10%">
                  <ngb-highlight [result]="d.run" [term]="driverService.searchTerm"></ngb-highlight>
              </td>
                <td width="10%">
                    <ngb-highlight [result]="d.name" [term]="driverService.searchTerm"></ngb-highlight>
                </td>
                <td width="10%">
                  <ngb-highlight [result]="d.last_name" [term]="driverService.searchTerm"></ngb-highlight>
              </td>

                <td width="10%">
                    <span><img src="../../../../../../assets/img/edit.png" class="img-table" (click)="openModalEdit(ModalInsert, d.id, d.run, d.name, d.last_name)"
                       alt=""></span>
                    <span class="m-l-1"><img src="../../../../../../assets/img/delete.png" class="img-table" 
                      (click)="openModalDelete(ModalDelete, d.id, d.run, d.name, d.last_name)" alt=""></span>
                </td>

            </tr>
            </tbody>
           </table>
           <div class="d-flex justify-content-between p-2">
           </div>
         </form>
       </div>
    </div>
  </div>
</section>


<ngb-pagination
[collectionSize]="total$ | async" [(page)]="driverService.page" [pageSize]="driverService.pageSize">
<ng-template ngbPaginationPrevious><div class="arrow-left"></div></ng-template>
<ng-template ngbPaginationNext><div class="arrow-right"></div></ng-template>
</ngb-pagination>

<ng-template #ModalInsert let-modal>
  <app-modal-insert-driver
  [id] = "id"
  [run] = "run"
  [name] = "name"
  [last_name] = "last_name"
  (closeModals)="closeModal()"
  (refreshtable)="refreshtable()">
  </app-modal-insert-driver>
</ng-template>

<ng-template #ModalDelete let-modal>
  <app-modal-delete
  [id] = "id"
  (closeModals)="closeModal()"
  (refreshtable)="refreshtable()"
  (deleteData)="delete()">
  </app-modal-delete>
</ng-template>
