.form-control {
        box-sizing: border-box;
        height: 32px !important;
        border: 1px solid #A1A1A1;
        border-radius: 4px;
        background-color: #FFFFFF;
        color: $color-grey;	
        font-family: $font-family-text;	
        font-size:$font-size-small;	
        letter-spacing: 0.41px;	
        line-height: 22px;
}
    // input {
    //     .form-control {
    //     // @extend %input;
    //     box-sizing: border-box;
    //     height: 32px !important;
    //     border: 1px solid #A1A1A1;
    //     border-radius: 4px;
    //     background-color: #FFFFFF;
    //     }
    // }
    // input::(.form-control) {
        
    //     // @extend %input;
    //     box-sizing: border-box;
    //     height: 32px !important;
    //     border: 1px solid #A1A1A1;
    //     border-radius: 4px;
    //     background-color: #FFFFFF;
        
    // }
