.modal {
    
    &-header {
       background-color: $color-white;
       color:$color-black;
       border: none;
    }
    &-content {
    border-radius: 4px;
    border: none !important;
    box-shadow: 0 3px 6px 0 rgba(43,48,52,0.1);
    }
    &-body {
        h1 {
            color: $color-black;
            font-family: $font-family-text;
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
            letter-spacing: 0.58px;
            line-height: 26px;
            text-align: center;
        }
        form {
            padding-left: 4rem;
            padding-right: 4rem;
            padding-bottom: 4rem;
        }
    }
//   &-dialog{
//     min-width: 40vw;
//   }
}
.xlModal > .modal-dialog {
    max-width: 65vh !important;
    min-width: 65vh !important;
    width: 65vh !important;
}
.modal-label {
	color: $color-black-light;
	font-family: $font-family-text;
	font-size: $font-size-x-small;
	letter-spacing: 0.23px;
	line-height: 18px;
}
.padding-delete {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem
}
.modal-holder{
    animation-name: example;
    animation-duration: 0.3s;
}
  
@keyframes example {
    0%   {transform: scale(0.5)}
    100% {transform: scale(1)}
}