<section>
    <ngx-spinner
        bdColor="rgba(51,51,51,0.3)"
        size="medium"
        color="#1868B1"
        type = "ball-fussion"
    >
        <p style="font-size: 20px; color: white"></p>
    </ngx-spinner>
    <div class="modal-header">
        <a  class="close"  (click)="closeModal()">
            <img src="./../../../../../../../../assets/img/close.png" style="width: 20px" alt="">
        </a>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <h1>{{title}}</h1>
            </div>
        </div>
        <form [formGroup]="createForm" id="createForm">
            <!-- <div class="form-group">
                <label class="modal-label" for="id">ID del Camion</label>
                <input type="text" id="id" class="form-control" placeholder="Ingrese ID del camion" formControlName="id"  [ngClass]="{ 'is-invalid': submitted && d.id.errors }" required>
                <div *ngIf="submitted && d.id.errors" class="invalid-feedback">
                    <div *ngIf="d.id.errors.required">*ID Requerido</div>
                </div>
            </div> -->
            <div class="form-group">
                <label class="modal-label" for="plate">Patente del camion</label>
                <input type="text" plate="plate" class="form-control" placeholder="Ingrese Patente del camion" formControlName="plate"  [ngClass]="{ 'is-invalid': submitted && d.plate.errors }" required>
                <div *ngIf="submitted && d.plate.errors" class="invalid-feedback">
                    <div *ngIf="d.plate.errors.required">*Patente Requerida</div>
                </div>
            </div>
            <div class="form-group">
                <label class="modal-label" for="brand">Marca del Camion</label>
                <input type="text" brand="Marca" class="form-control" placeholder="Ingrese Marca del camion" formControlName="brand"  [ngClass]="{ 'is-invalid': submitted && d.brand.errors }" required>
                <div *ngIf="submitted && d.brand.errors" class="invalid-feedback">
                    <div *ngIf="d.brand.errors.required">*Marca Requerida</div>
                </div>
            </div>
            <div class="form-group">
                <label class="modal-label" for="model">Modelo del Camion</label>
                <input type="text" model="model" class="form-control" placeholder="Ingrese Modelo del camion" formControlName="model"  [ngClass]="{ 'is-invalid': submitted && d.model.errors }" required>
                <div *ngIf="submitted && d.model.errors" class="invalid-feedback">
                    <div *ngIf="d.model.errors.required">*Modelo Requerido</div>
                </div>
            </div>
            <button *ngIf="update == false" class="btn btn-lg button-primary btn-block" (click)="createTruck()">Agregar</button>
            <button *ngIf="update == true" class="btn btn-lg button-primary btn-block" (click)="updateTruck()">Actualizar</button>
        </form>
    </div>
</section>
