<app-header></app-header>
<ngx-spinner
        bdColor="rgba(51,51,51,0.3)"
        size="medium"
        color="#1868B1"
        type = "ball-fussion"
    >
    <p style="font-size: 20px; color: white">{{textSpinner}}</p>
</ngx-spinner>
<section class="container-fluid" style="padding-top:2rem">
  <div class="row">
    <div class="col-12"> 
       <h2>Combustible</h2>
       <div class="cardForm">
         <form>
           <div class="row">
             <div class="col-4">
              <input class="form-control ml-2" autocomplete="off" type="text" placeholder="Filtrar..." name="searchTerm" />
             </div>
             <div class="col-6 d-flex justify-content-end">
              <button (click)="openModal(ModalInsert)" class="btn button-primary">+ Añadir Recarga</button>
             </div>  
           </div>
           <table style="margin-top: 2rem;" class="table">
            <thead>
              <tr>
                  <th width="5%" scope="col">ID</th>
                  <th width="15%" scope="col" sortable="recarga" (sort)="onSort($event)">Recarga de Combustible</th>
                  <th width="15%" scope="col" sortable="date" (sort)="onSort($event)">Fecha de Recarga</th>
                  <th width="15%" scope="col" sortable="name_driver" (sort)="onSort($event)">Nombre Conductor</th>
                  <th width="15%" scope="col" sortable="plate" (sort)="onSort($event)">Patente del Camión</th>
                  <th width="15%" scope="col" sortable="name_station" (sort)="onSort($event)">Estacion de Servicio</th>
                  <th width="10%" scope="col">Opciones</th>
              </tr>
           </thead>
           <tbody>
            <tr *ngFor="let d of driver$ | async; let indexs = index" [ngClass]="{'t-striped': 0 === indexs % 2}">
                <td width="5%">{{ d.id }}</td>

                <td>
                    <ngb-highlight [result]="d.name" [term]="driverService.searchTerm"></ngb-highlight>
                </td>

                <td>
                    <span><img src="../../../../../../assets/img/edit.png" class="img-table" (click)="openModalEdit(ModalInsert, d.id, d.name)"
                       alt=""></span>
                    <span class="m-l-1"><img src="../../../../../../assets/img/delete.png" class="img-table" 
                      (click)="openModalDelete(ModalDelete, d.id, d.name)" alt=""></span>
                </td>
            </tr>
            </tbody>
           </table>
           <div class="d-flex justify-content-between p-2">
            <ngb-pagination
                [collectionSize]="total$ | async" [(page)]="driverService.page" [pageSize]="driverService.pageSize">
                <ng-template ngbPaginationPrevious><div class="arrow-left"></div></ng-template>
                <ng-template ngbPaginationNext><div class="arrow-right"></div></ng-template>
            </ngb-pagination>
           </div>
         </form>
       </div>
    </div>
  </div>
</section>