<section>
    <div class="modal-header">
        <a  class="close"  (click)="closeModal()">
            <img src="./../../../../../../../assets/img/close.png" style="width: 20px" alt="">
        </a>
    </div>
    <div class="modal-body">
        <div class="row padding-delete">
            <div class="col-12 d-flex justify-content-center">
                <img style="width: 64px;" src="./../../../../assets/img/deleteModal.png" alt="">
            </div>
            <div class="p-t-1 col-12 d-flex justify-content-center">
                <h1 class="">{{title}}</h1>
            </div>
            <div class="p-t-1 col-12 d-flex justify-content-center">
                <button class="btn btn-lg button-primary btn-block" (click)="delete()">Eliminar</button>
            </div>
        </div>   
    </div>
</section>
    