<section class="text-center vh-100">
    <form class="form signin"  [formGroup]="loginForm" id="loginForm" (ngSubmit)="goToHome()">
        <h4 class="text-center">Gestión de camiones</h4>
        <br>
        <div class="form-group">
            <label class="label-login float-left">Nombre usuario</label>
            <input type="text" id="user_name" class="form-control" placeholder="Escriba aquí su nombre de usuario"
                formControlName="user_name" [ngClass]="{ 'is-invalid': submitted && f.user_name.errors }" required>
            <div *ngIf="submitted && f.user_name.errors" class="invalid-feedback">
                <div *ngIf="f.user_name.errors.required">*nombre usuario requerido</div>
            </div>
        </div>

        <div class="form-group">
            <label class="label-login float-left">Contraseña</label>
            <input type="password" id="password" class="form-control" placeholder="Escriba la contraseña"
                formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">*Contraseña requerida</div>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" (click)="goToHome()">Ingresar</button>
    </form>
</section>  