  .form {
    width: 100%;
    background-color: #FFF87F;
    max-width: 400px;
    margin: auto;
    margin-top: 7vh;
    border-radius: 4px;
    padding : 3rem;
    box-shadow: 0 3px 6px 0 rgba(43,48,52,0.1);
  }