<section>
    <ngx-spinner
        bdColor="rgba(51,51,51,0.3)"
        size="medium"
        color="#1868B1"
        type = "ball-fussion"
    >
        <p style="font-size: 20px; color: white"></p>
    </ngx-spinner>
    <div class="modal-header">
        <a  class="close"  (click)="closeModal()">
            <img src="./../../../../../../../../assets/img/close.png" style="width: 20px" alt="">
        </a>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <h1>{{title}}</h1>
            </div>
        </div>
        <form [formGroup]="createForm" id="createForm">
            <!-- <div class="form-group">
                <label class="modal-label" for="id">ID del Camion</label>
                <input type="text" id="id" class="form-control" placeholder="Ingrese ID del camion" formControlName="id"  [ngClass]="{ 'is-invalid': submitted && d.id.errors }" required>
                <div *ngIf="submitted && d.id.errors" class="invalid-feedback">
                    <div *ngIf="d.id.errors.required">*ID Requerido</div>
                </div>
            </div> -->
            <div class="form-group">
                <label class="modal-label" for="liter_price">precio del combustible</label>
                <input type="text" liter_price="liter_price" class="form-control" placeholder="Ingrese el precio del combustible" formControlName="liter_price"  [ngClass]="{ 'is-invalid': submitted && f.liter_price.errors }" required>
                <div *ngIf="submitted && f.liter_price.errors" class="invalid-feedback">
                    <div *ngIf="f.liter_price.errors.required">*Precio Requerida</div>
                </div>
            </div>
            <div class="form-group">
                <label class="modal-label" for="name">Nombre de la estacion</label>
                <input type="text" name="Marca" class="form-control" placeholder="Ingrese nombre de la estacion" formControlName="name"  [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">*Nombre Requerido</div>
                </div>
            </div>
            <div class="form-group">
                <label class="modal-label" for="location">Lugar de la estacion</label>
                <input type="text" location="location" class="form-control" placeholder="Ingrese el lugar de la estacion" formControlName="location"  [ngClass]="{ 'is-invalid': submitted && f.location.errors }" required>
                <div *ngIf="submitted && f.locatrion.errors" class="invalid-feedback">
                    <div *ngIf="f.location.errors.required">*Lugar requerido</div>
                </div>
            </div>
            <button *ngIf="update == false" class="btn btn-lg button-primary btn-block" (click)="createStation()">Agregar</button>
            <button *ngIf="update == true" class="btn btn-lg button-primary btn-block" (click)="updateStation()">Actualizar</button>
        </form>
    </div>
</section>
