<app-header></app-header>
<section class="container-fluid" style="padding-top:2rem">
  
  <div class="row">
    <div class="col-12"> 
       <h2>Estaciones de Combustible</h2>
       <div class="cardForm">
         <form>
           <div class="row">
             <div class="col-2">
              
              <input class="form-control ml-2" autocomplete="on" type="text" placeholder="Filtrar..." name="searchTerm"[(ngModel)]="fuelStationService.searchTerm"/>
             </div>
             <div class="col-9 d-flex justify-content-end">
              <button (click)="openModal(ModalInsert)" class="btn button-primary">+ Añadir Estacion</button>
             </div>  
           </div>
           <table class="table">
            <thead>
              <tr>
                  <th width="5%" scope="col">ID</th>
                  <th width="10%" scope="col">Precio </th>
                  <th width="10%" scope="col">Nombre</th>
                  <th width="10%" scope="col">Lugar</th>
              </tr>
           </thead>
           <tbody>
            <tr *ngFor="let f of fuel_station$ | async; let indexs = index" [ngClass]="{'t-striped': 0 === indexs % 0}">
                <td width="9%">{{ f.id }}</td>

                <td width="10%">
                    <ngb-highlight [result]="f.liter_price" [term]="fuelStationService.searchTerm"></ngb-highlight>
                </td>
                <td width="10%">
                  <ngb-highlight [result]="f.name"[term]="fuelStationService.searchTerm"></ngb-highlight>
              </td>
              <td width="10%">
                <ngb-highlight [result]="f.location" [term]="fuelStationService.searchTerm"></ngb-highlight>
            </td>
            
                <td width="10%">
                    <span><img src="../../../../../../assets/img/edit.png" class="img-table" (click)="openModalEdit(ModalInsert, f.id, f.liter_price, f.name, f.location)"
                       alt=""></span>
                    <span class="m-l-1"><img src="../../../../../../assets/img/delete.png" class="img-table" 
                      (click)="openModalDelete(ModalDelete, f.id, f.liter_price, f.name, f.location)" alt=""></span>
                </td>

            </tr>
            </tbody>
           </table>
           
         </form>
       </div>
    </div>
  </div>
</section>


<div class="d-flex justify-content-between p-2">
            <ngb-pagination
                [collectionSize]="total$ | async" [(page)]="fuelStationService.page" [pageSize]="fuelStationService.pageSize">
                <ng-template ngbPaginationPrevious><div class="arrow-left"></div></ng-template>
                <ng-template ngbPaginationNext><div class="arrow-right"></div></ng-template>
            </ngb-pagination>
           </div>
 <ng-template #ModalInsert let-modal>
  <app-modal-insert-fuel-station
  [id] = "id"
  [liter_price] = "liter_price"
  [name] = "name"
  [location] = "location"
  (closeModals)="closeModal()"
  (refreshtable)="refreshtable()">
  </app-modal-insert-fuel-station>
</ng-template> 
<ng-template #ModalDelete let-modal>
  <app-modal-delete
  [id] = "id"
  (closeModals)="closeModal()"
  (refreshtable)="refreshtable()"
  (deleteData)="delete()">
  </app-modal-delete>
</ng-template>