<app-header></app-header>
<section class="container-fluid" style="padding-top:2rem">
  
  <div class="row">
    <div class="col-12"> 
       <h2>Camiones</h2>
       <div class="cardForm">
         <form>
           <div class="row">
             <div class="col-2">
              
              <input class="form-control ml-2" autocomplete="on" type="text" placeholder="Filtrar..." name="searchTerm"[(ngModel)]="truckService.searchTerm"/>
             </div>
             <div class="col-9 d-flex justify-content-end">
              <button (click)="openModal(ModalInsert)" class="btn button-primary">+ Añadir Camion</button>
             </div>  
           </div>
           <table class="table">
            <thead>
              <tr>
                  <th width="5%" scope="col">ID</th>
                  <th width="10%" scope="col">Patente</th>
                  <th width="10%" scope="col">Marca</th>
                  <th width="10%" scope="col">Modelo</th>
              </tr>
           </thead>
           <tbody>
            <tr *ngFor="let t of truck$ | async; let indexs = index" [ngClass]="{'t-striped': 0 === indexs % 0}">
                <td width="9%">{{ t.id }}</td>

                <td width="10%">
                    <ngb-highlight [result]="t.plate" [term]="truckService.searchTerm"></ngb-highlight>
                </td>
                <td width="10%">
                  <ngb-highlight [result]="t.brand"[term]="truckService.searchTerm"></ngb-highlight>
              </td>
              <td width="10%">
                <ngb-highlight [result]="t.model" [term]="truckService.searchTerm"></ngb-highlight>
            </td>
            
                <td width="10%">
                    <span><img src="../../../../../../assets/img/edit.png" class="img-table" (click)="openModalEdit(ModalInsert, t.id, t.plate, t.brand, t.model)"
                       alt=""></span>
                    <span class="m-l-1"><img src="../../../../../../assets/img/delete.png" class="img-table" 
                      (click)="openModalDelete(ModalDelete, t.id, t.plate, t.brand, t.model)" alt=""></span>
                </td>

            </tr>
            </tbody>
           </table>
           
         </form>
       </div>
    </div>
  </div>
</section>


<div class="d-flex justify-content-between p-2">
            <ngb-pagination
                [collectionSize]="total$ | async" [(page)]="truckService.page" [pageSize]="truckService.pageSize">
                <ng-template ngbPaginationPrevious><div class="arrow-left"></div></ng-template>
                <ng-template ngbPaginationNext><div class="arrow-right"></div></ng-template>
            </ngb-pagination>
           </div>

<ng-template #ModalInsert let-modal>
  <app-modal-insert-truck
  [id] = "id"
  [plate] = "plate"
  [brand] = "brand"
  [model] = "model"
  (closeModals)="closeModal()"
  (refreshtable)="refreshtable()">
  </app-modal-insert-truck>
</ng-template>
<ng-template #ModalDelete let-modal>
  <app-modal-delete
  [id] = "id"
  (closeModals)="closeModal()"
  (refreshtable)="refreshtable()"
  (deleteData)="delete()">
  </app-modal-delete>
</ng-template>