.user-info-container{
  width: 100%;
  height: 50px;
  margin-left: 5px;
  display: flex;
  padding: 2px;
  cursor: pointer;
}
.img-avatar{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;

}
.user-avatar{
  width: 45px;
  height: 45px;
  display: flex;
}
.user-info{
  margin-left: 5px;
}
.user-name{
  font-size: 14px;
}

