<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Servicio de Camiones</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="javascript:void(0)" (click)="goToHome()">Home <span
            class="sr-only">(current)</span></a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Menú
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../fuel" >Mantenedor Combustible</a>
          <a class="dropdown-item" href="../driver">Mantenedor Conductores</a>
          <a class="dropdown-item" href="../fuel-station">Mantenedor Estaciones</a>
          <a class="dropdown-item" href="../history">Mantenedor Salida de Camiones</a>
          <a class="dropdown-item" href="../truck">Mantenedor Camiones</a>
          <a class="dropdown-item" href="../assing">Mantenedor Asignación</a>
          <a class="dropdown-item" href="../maintenance-detail">Mantenedor Detalle de Mantención</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form class="form-inline my-2 my-lg-0">
      <li class="nav-item dropdown no-li">
        <div class="user-info-container" id="navbarDropdownUser" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
          <div class="user-avatar">
            <img class="img-avatar" src="{{ user.avatar }}" alt="">
          </div>
          <div class="user-info"></div>
            <span class="user-name">{{ user.name }}</span><br />
        </div>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownUser">
          <a class="dropdown-item" href="javascript:void(0)" (click)="goToLogin()">Cerrar Sesión</a>
        </div>
      </li>
    </form>
  </div>
</nav>
