<section>
    <ngx-spinner
        bdColor="rgba(51,51,51,0.3)"
        size="medium"
        color="#1868B1"
        type = "ball-fussion"
    >
        <p style="font-size: 20px; color: white"></p>
    </ngx-spinner>
    <div class="modal-header">
        <a  class="close"  (click)="closeModal()">
            <img src="./../../../../../../../../assets/img/close.png" style="width: 20px" alt="">
        </a>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <h1>{{title}}</h1>
            </div>
        </div>
        <form [formGroup]="createForm" id="createForm">
            <div class="form-group">
                <label class="modal-label" for="run">Run del Conductor</label>
                <input type="text" id="name" class="form-control" placeholder="Ingrese Run del Conductor" formControlName="run"  [ngClass]="{ 'is-invalid': submitted && d.run.errors }" required>
                <div *ngIf="submitted && d.run.errors" class="invalid-feedback">
                    <div *ngIf="d.run.errors.required">*Run Requerido</div>
                </div>
            </div>
            <div class="form-group">
                <label class="modal-label" for="name">Nombre del Conductor</label>
                <input type="text" id="name" class="form-control" placeholder="Ingrese Nombre del Conductor" formControlName="name"  [ngClass]="{ 'is-invalid': submitted && d.name.errors }" required>
                <div *ngIf="submitted && d.name.errors" class="invalid-feedback">
                    <div *ngIf="d.name.errors.required">*Nombre Requerido</div>
                </div>
            </div>
            <div class="form-group">
                <label class="modal-label" for="last_name">Apellido del Conductor</label>
                <input type="text" id="last_name" class="form-control" placeholder="Ingrese Apellido del Conductor" formControlName="last_name"  [ngClass]="{ 'is-invalid': submitted && d.last_name.errors }" required>
                <div *ngIf="submitted && d.last_name.errors" class="invalid-feedback">
                    <div *ngIf="d.last_name.errors.required">*Apellido Requerido</div>
                </div>
            </div>
            <button *ngIf="update == false" class="btn btn-lg button-primary btn-block" (click)="createDriver()">Agregar</button>
            <button *ngIf="update == true" class="btn btn-lg button-primary btn-block" (click)="updateDriver()">Actualizar</button>
        </form>
    </div>
</section>