
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$trucker-primary: mat-palette($mat-indigo);
$trucker-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$trucker-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$trucker-theme: mat-light-theme($trucker-primary, $trucker-accent, $trucker-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($trucker-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$trucker-primary: mat-palette($mat-indigo);
$trucker-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$trucker-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$trucker-theme: mat-light-theme($trucker-primary, $trucker-accent, $trucker-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($trucker-theme);

@import '../node_modules/bootstrap/scss/bootstrap';
@import './styles/abstracts/variables';
@import './styles/base/typography';
@import './styles/layout/navigation';
@import './styles/components/buttons';
@import './styles/components/input';
@import './styles/components/modal';
@import './styles/components/form';
@import './styles/components/table';
@import './styles/components/pagination';
// @import '~ngx-toastr/toastr';
html,
body {
  height: 100%;
  background-color: #E7EFF7;
  overflow-x: hidden;
  margin:0;padding:0;
}
.no-li{
  list-style: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
